@code {
    private bool _Collapse = true;

    private string NavMenuCssClass => _Collapse ? "collapse" : null;

    private void ToggleNavMenu() => _Collapse = !_Collapse;
}

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorPizza</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
    </ul>
</div>